ul,
li {
    list-style: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

#head_logo a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

#head_logo a:hover {
    background-color: #e59358;
    font-size: 120%;
}

#head_logo {
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #f6d5bd85;
    text-align: center;
    justify-content: left;
}

#head_logo p {
    font-size: 30px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 45px;
}

#nav-bar {
    margin-top: 0 auto;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: auto;
    background-color: #f3e4d8;
    height: 3.8rem;
    align-items: center;
    font-size: 20px;
}

#nav-bar button {
    align-items: center;
    background-color: #f3e4d8;
    width: 110px;
    height: 3.5rem;
    margin: 10px;
    border: none;
}

.menu {
    position: relative;
}

.menu a {
    font-style: normal;
    text-decoration: none;
    color: black;
    text-align: center;
}

#nav-bar button:hover {
    background-color: #f3e4d8;
}

#nav-bar button:hover .sub_menu a {
    display: block;
    background-color: #f3d4bb;
    color: black;
}

#nav-bar button .sub:hover .sub_menu a {
    display: block;
}

.sub {
    position: relative;
    top: 20px;
    text-align: center;
    justify-content: center;
}

.sub_menu a {
    display: none;
    text-align: center;
    justify-content: center;
}

#brief {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: rgb(245, 245, 245);
}

#brief p {
    margin-right: 20px;
    text-align: justify;
}

hr {
    border-width: 0px;
    height: 2px;
    background-color: black;
    color: black;
    border: solid;
}

body {
    background-color: rgb(245, 245, 245);
}

#feature {
    margin: 20px;
}

#feature #con {
    background-color: rgb(245, 245, 245);
}

#footer {
    margin: 20px;
}

#carouselExampleIndicators {
    height: 350px;
    align-items: center;
    margin: 20px;
    width: 500px;
    position: relative;
    top: -20px;
    left: 30%;
}

#carouselExampleIndicators img {
    height: 350px;
}

#feature ul {
    display: flex;
    flex-direction: column;
}

nav ul {
    padding-left: 300px;
}

#feature ul li {
    margin: 20px;
}

#head_content {
    position: absolute;
    top: 30px;
    left: 30px;
    color: rgb(255, 255, 255);
    font-style: normal;
    text-decoration: none;
    font-size: 60px;
}

#head_content:hover {
    font-size: 80px;
}

.sub {
    padding: 0;
    padding-right: 10px;
    padding-top: 7px;
}

#intro {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

#intro h2 {
    padding-top: 10px;
}

#nav-bar .first_b:hover {
    font-size: 120%;
}

#see_more {
    margin: 20px;
}

.con {
    background-color: rgb(245, 245, 245);
}

#footer #more_info {
    display: flex;
    height: 200px;
}

#footer #more_info div {
    margin: 10px;
    margin-right: 30px;
    justify-content: center;
}

#img_car_center {
    justify-content: center;
    align-items: center;
}